body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #edeebb;
  }
  
  header {
    text-align: center;
    font-size: large;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  .photo-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .book {
    width: 250px;
    margin: 10px;
    text-align: center;
  }
  
  .book img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  
  .book p {
    margin: 5px;
    font-weight: bold;
  }
  